body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#folderIcon {
    margin-right: 0.5em;
}

#fileInputSelection{
	cursor: inherit;
    border-bottom-right-radius: 0;
}

#inputFileList{
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    max-height: 300px;
    overflow-y: scroll;
}

#fileArea .btn-file{
    border-bottom-left-radius: 0;
}

.btn-file {
    position: relative;
    overflow: hidden;
    width: 6em;
    display: block;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
